/*
* Estilos de tu proyecto
*/
body{
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

.top-bar{
  background-color: #fafafa;
}
.main-top {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
}
.main-top li:first-child{
  flex-grow: 2;
  align-self: center;
}
.main-top li:last-child{
  flex-grow: 0;
  margin-right: 20px;
}
.menu-burguer{
  font-size:40px;
  cursor: pointer;
}
.logo{
  width: 100%;
  height: 60px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.current-user{
  display: flex;
}
.avatar{
  width: 70px;
  height: 70px;
  position: relative;
  left: 30px;
}
.user-name{
  font-size: 16px;
  position: relative;
  top: 20px;
  left: 40px;
  color: #818181;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:last-child{
  position: relative;
  bottom: 0;
}
.sidenav a:hover {
  color: #2d2d2a;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
i{
  padding: 10px;
}
.nav-tabs{
  margin-bottom: 30px;
  border-bottom: 1px solid #ffe521;
}
.nav-tabs>li>a {
  border-radius: 6px 6px 0 0;
  color:#818181;
  border: 1px solid #ffe521;
  cursor:pointer;
}
.nav-tabs>li>a:hover {
  border-radius: 6px 6px 0 0;
  color:#000;
  border: 1px solid #ffe521;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-radius: 6px 6px 0 0;
  color:#000;
  background-color: #ffe521;
  border: 1px solid #ffe521;
}
#heads, #generation {
  display: inline-block;
  min-width: 420px;
}

#heads:after, #generation:after {
  content: '\25BE';
  font: normal normal normal 30px/1 FontAwesome;
  color: #000;
  right: 152px;
  top: 0px;
  height: 35px;
  padding: 5px 8px 0px 5px;
  border-left: 2px solid #ffe521;
  background-color: #ffe521;
  position: absolute;
  pointer-events: none;
  border-radius: 0 6px 6px 6px;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 100%;
  max-width: 320px;
  height: 35px;
  float: right;
  margin-bottom: 30px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #ffe521;
  border-radius: 6px;
  -ms-word-break: normal;
  word-break: normal;
}
#search{
  background-color: #fff;
  border: 2px solid #ffe521;
  border-radius: 10px;
  width: 100%;
  padding: 0 20px;
  height: 35px;
  margin-bottom: 30px;
}

#searchtext{
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 87%;
}

#btnsearch{
  border:none;
  position: absolute;
  left: 89%;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background-color:#ffe521;
}

#search i.fa-search{
  color:#000;
  padding: 5px;
}
.select-skills{
  padding-top: 30px;
}
.ability {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* esconde checkbox padrão */
.ability input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* criar checkbox customizado*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* cinza escuro para o checkbox com o mouse hover */
.ability:hover input ~ .checkmark {
  background-color: #ccc;
}

/* assim que marcado o checkbox fica amarelo */
.ability input:checked ~ .checkmark {
  background-color: #ffe521;
}

/* esconder o checkmark quando desmarcado */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* mostrar o checkmark marcado */
.ability input:checked ~ .checkmark:after {
  display: block;
}

/* customizar checkmark */
.ability .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.people{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  height: 100%;
  border: 1px solid #DCDCDC;
  -webkit-box-shadow: 10px 11px 20px -4px rgba(0,0,0,0.43);
  -moz-box-shadow: 10px 11px 20px -4px rgba(0,0,0,0.43);
  box-shadow: 10px 11px 20px -4px rgba(0,0,0,0.43);
}
.people p{
  color:#000;
  padding: 10px;
  text-align: center;
}
.photo{
  width: 33%;
  height: 200px;
  padding: 20px;
}
.devInfo{
  font-weight: 600;
  padding: 20px 20px;
  width: 33%;
}
.devInfo h4{
  font-size: 20px;
  color:#333;
}
.devInfo h5{
  font-size: 16px;
  color:#333;
}
.skills{
  display: flex;
  justify-content: space-between;
  font-size:13px;
  color:#333;
}
.skills p{
  background-color: #f7f7f7;
  margin-right: 5px;
}
.points{
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  color:#333;
}
.item-point{
  background-color:#e1e1e1;
  margin-right: 5px;
}
.item-point span{
  display: block;
}
.item-point span:first-child{
  font-size:24px;
}
a.seeProfile{
  font-size: 20px;
  border: 1px solid #ffe521;
  border-radius: 6px;
  color:#333;
  padding: 5px 0 5px 15px;
  text-decoration: none;
  width: 20%;
  height: 50px;
  text-align: center;
  align-self: flex-end;
  margin: 10px;
}
a.seeProfile:hover{
  background-color: #ffe521;
  transition: 3s;
}
a.seeProfile i.fa-angle-double-right{
  color: #333;
}
